.toolbar {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  min-height: 64px;
}

.toolbar[data-variant="dense"] {
  min-height: 48px;
}

.toolbar[data-disable-gutters] {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 600px) {
  .toolbar {
    padding-left: var(--spacing-6);
    padding-right: var(--spacing-6);
  }
  
  .toolbar[data-disable-gutters] {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 0px) and (orientation: landscape) {
  .toolbar[data-variant="regular"] {
    min-height: 48px;
  }
}

@media (min-width: 600px) {
  .toolbar[data-variant="regular"] {
    min-height: 64px;
  }
}
